In [1]:
import pandas as pd
import numpy as np
pd.set_option("display.max_columns" , 200)

In [2]:
data = pd.read_csv("Listings.csv",  encoding='ISO-8859-1', low_memory = False, parse_dates = ["host_since"])

In [3]:
data.head(10)

,listing_id,name,host_id,host_since,host_location,host_response_time,host_response_rate,host_acceptance_rate,host_is_superhost,host_total_listings_count,host_has_profile_pic,host_identity_verified,neighbourhood,district,city,latitude,longitude,property_type,room_type,accommodates,bedrooms,amenities,price,minimum_nights,maximum_nights,review_scores_rating,review_scores_accuracy,review_scores_cleanliness,review_scores_checkin,review_scores_communication,review_scores_location,review_scores_value,instant_bookable
0,281420,"Beautiful Flat in le Village Montmartre, Paris",1466919,2011-12-03,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,t,f,Buttes-Montmartre,NaN,Paris,48.88668,2.33343,Entire apartment,Entire place,2,1.0,"[""Heating"", ""Kitchen"", ""Washer"", ""Wifi"", ""Long...",53,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
1,3705183,39 mÃÂ² Paris (Sacre CÃ âur),10328771,2013-11-29,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,t,t,Buttes-Montmartre,NaN,Paris,48.88617,2.34515,Entire apartment,Entire place,2,1.0,"[""Shampoo"", ""Heating"", ""Kitchen"", ""Essentials""...",120,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
2,4082273,"Lovely apartment with Terrace, 60m2",19252768,2014-07-31,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,t,f,Elysee,NaN,Paris,48.88112,2.31712,Entire apartment,Entire place,2,1.0,"[""Heating"", ""TV"", ""Kitchen"", ""Washer"", ""Wifi"",...",89,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
3,4797344,Cosy studio (close to Eiffel tower),10668311,2013-12-17,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,t,t,Vaugirard,NaN,Paris,48.84571,2.30584,Entire apartment,Entire place,2,1.0,"[""Heating"", ""TV"", ""Kitchen"", ""Wifi"", ""Long ter...",58,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
4,4823489,Close to Eiffel Tower - Beautiful flat : 2 rooms,24837558,2014-12-14,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,t,f,Passy,NaN,Paris,48.85500,2.26979,Entire apartment,Entire place,2,1.0,"[""Heating"", ""TV"", ""Kitchen"", ""Essentials"", ""Ha...",60,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
5,4898654,NEW - Charming apartment Le Marais,505535,2011-04-13,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,t,t,Temple,NaN,Paris,48.86428,2.35370,Entire apartment,Entire place,2,1.0,"[""Heating"", ""TV"", ""Kitchen"", ""Essentials"", ""Wa...",95,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
6,6021700,2P - Entre Bastille et Republique,8053690,2013-08-09,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,t,t,Popincourt,NaN,Paris,48.86384,2.37101,Entire apartment,Entire place,2,1.0,"[""Shampoo"", ""TV"", ""Kitchen"", ""Washer"", ""Smoke ...",80,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
7,6945740,57sqm btw. Bastille & PÃÂ¨re Lachaise,5924709,2013-04-14,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,t,t,Popincourt,NaN,Paris,48.86043,2.37842,Entire apartment,Entire place,2,1.0,"[""Heating"", ""TV"", ""Kitchen"", ""Essentials"", ""Wa...",59,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
8,7491966,Charming appartment near the Parc Buttes Chaumont,35812762,2015-06-14,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,t,t,Buttes-Chaumont,NaN,Paris,48.87871,2.37489,Entire apartment,Entire place,2,1.0,"[""Paid parking off premises"", ""Shampoo"", ""Heat...",80,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f
9,7849932,Bel appartement plein de charme !,20833291,2014-09-02,"Paris, Ile-de-France, France",NaN,NaN,NaN,f,1.0,t,t,Opera,NaN,Paris,48.87790,2.33122,Entire apartment,Entire place,2,1.0,"[""Heating"", ""TV"", ""Iron"", ""Kitchen"", ""Essentia...",90,2,1125,100.0,10.0,10.0,10.0,10.0,10.0,10.0,f

In [4]:
data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 279712 entries, 0 to 279711
Data columns (total 33 columns):
 #   Column                       Non-Null Count   Dtype
---  ------                       --------------   -----
 0   listing_id                   279712 non-null  int64
 1   name                         279537 non-null  object
 2   host_id                      279712 non-null  int64
 3   host_since                   279547 non-null  datetime64[ns]
 4   host_location                278872 non-null  object
 5   host_response_time           150930 non-null  object
 6   host_response_rate           150930 non-null  float64
 7   host_acceptance_rate         166625 non-null  float64
 8   host_is_superhost            279547 non-null  object
 9   host_total_listings_count    279547 non-null  float64
 10  host_has_profile_pic         279547 non-null  object
 11  host_identity_verified       279547 non-null  object
 12  neighbourhood                279712 non-null  object
 13  district                     37012 non-null   object
 14  city                         279712 non-null  object
 15  latitude                     279712 non-null  float64
 16  longitude                    279712 non-null  float64
 17  property_type                279712 non-null  object
 18  room_type                    279712 non-null  object
 19  accommodates                 279712 non-null  int64
 20  bedrooms                     250277 non-null  float64
 21  amenities                    279712 non-null  object
 22  price                        279712 non-null  int64
 23  minimum_nights               279712 non-null  int64
 24  maximum_nights               279712 non-null  int64
 25  review_scores_rating         188307 non-null  float64
 26  review_scores_accuracy       187999 non-null  float64
 27  review_scores_cleanliness    188047 non-null  float64
 28  review_scores_checkin        187941 non-null  float64
 29  review_scores_communication  188025 non-null  float64
 30  review_scores_location       187937 non-null  float64
 31  review_scores_value          187927 non-null  float64
 32  instant_bookable             279712 non-null  object
dtypes: datetime64[ns](1), float64(13), int64(6), object(13)
memory usage: 70.4+ MB

In [5]:
data.shape

(279712, 33)

In [6]:
data.dtypes

listing_id                              int64
name                                   object
host_id                                 int64
host_since                     datetime64[ns]
host_location                          object
host_response_time                     object
host_response_rate                    float64
host_acceptance_rate                  float64
host_is_superhost                      object
host_total_listings_count             float64
host_has_profile_pic                   object
host_identity_verified                 object
neighbourhood                          object
district                               object
city                                   object
latitude                              float64
longitude                             float64
property_type                          object
room_type                              object
accommodates                            int64
bedrooms                              float64
amenities                              object
price                                   int64
minimum_nights                          int64
maximum_nights                          int64
review_scores_rating                  float64
review_scores_accuracy                float64
review_scores_cleanliness             float64
review_scores_checkin                 float64
review_scores_communication           float64
review_scores_location                float64
review_scores_value                   float64
instant_bookable                       object
dtype: object

In [7]:
data["host_since"] = pd.to_datetime(data["host_since"])

In [8]:
data["city"].unique()

array(['Paris', 'New York', 'Bangkok', 'Rio de Janeiro', 'Sydney',
       'Istanbul', 'Rome', 'Hong Kong', 'Mexico City', 'Cape Town'],
      dtype=object)

In [9]:
df = data.query('city == "Paris"')[["host_since","neighbourhood","city","accommodates","price"]].copy()

In [10]:
df.isna().sum()

host_since       33
neighbourhood     0
city              0
accommodates      0
price             0
dtype: int64

In [11]:
df[df["host_since"].isna() == 1]

       host_since        neighbourhood   city  accommodates  price
52879         NaT    Enclos-St-Laurent  Paris             2     57
52880         NaT    Enclos-St-Laurent  Paris             2     58
52881         NaT  Batignolles-Monceau  Paris             4     90
52882         NaT    Buttes-Montmartre  Paris             5     89
52883         NaT       Hotel-de-Ville  Paris             2    119
52884         NaT    Buttes-Montmartre  Paris             4     50
52885         NaT    Enclos-St-Laurent  Paris             6    220
52886         NaT           Popincourt  Paris             2     45
52887         NaT           Popincourt  Paris             4    100
52888         NaT         Menilmontant  Paris             2     50
52889         NaT    Enclos-St-Laurent  Paris             2     45
52890         NaT           Popincourt  Paris             2     85
52891         NaT    Buttes-Montmartre  Paris             2     70
52892         NaT         Observatoire  Paris             2     85
83070         NaT           Popincourt  Paris            12    510
83071         NaT           Popincourt  Paris             2     50
97760         NaT         Menilmontant  Paris             8    145
207306        NaT    Buttes-Montmartre  Paris             2     52
207316        NaT            Vaugirard  Paris             2     55
229854        NaT    Buttes-Montmartre  Paris             4     84
229855        NaT           Popincourt  Paris             2     55
229856        NaT       Hotel-de-Ville  Paris             2     85
229857        NaT         Menilmontant  Paris             2    100
229858        NaT         Menilmontant  Paris             6    120
229859        NaT             Pantheon  Paris             2     50
229860        NaT                Passy  Paris             3     95
229861        NaT                Opera  Paris             2     50
229862        NaT           Popincourt  Paris             2     40
229863        NaT    Enclos-St-Laurent  Paris             2     35
229864        NaT               Temple  Paris             4    190
229865        NaT                Opera  Paris             6    150
229866        NaT                Passy  Paris             2     80
229867        NaT       Palais-Bourbon  Paris             2     95

In [12]:
df["host_since"] = df["host_since"].dropna

In [13]:
df.isna().sum()

host_since       0
neighbourhood    0
city             0
accommodates     0
price            0
dtype: int64

In [14]:
df.head()

,host_since,neighbourhood,city,accommodates,price
0,<bound method Series.dropna of 0 2011-1...,Buttes-Montmartre,Paris,2,53
1,<bound method Series.dropna of 0 2011-1...,Buttes-Montmartre,Paris,2,120
2,<bound method Series.dropna of 0 2011-1...,Elysee,Paris,2,89
3,<bound method Series.dropna of 0 2011-1...,Vaugirard,Paris,2,58
4,<bound method Series.dropna of 0 2011-1...,Passy,Paris,2,60

In [15]:
df.describe()

       accommodates         price
count  64690.000000  64690.000000
mean       3.037997    113.096445
std        1.588766    214.433668
min        0.000000      0.000000
25%        2.000000     59.000000
50%        2.000000     80.000000
75%        4.000000    120.000000
max       16.000000  12000.000000

In [16]:
df.loc[df["price"]== 0].count()

host_since       62
neighbourhood    62
city             62
accommodates     62
price            62
dtype: int64

In [47]:
df_neighbourhood = df.groupby("neighbourhood")[["price"]].mean().sort_values("price")

In [49]:
df_neighbourhood

                     price
neighbourhood
Luxembourg      155.638639
Palais-Bourbon  156.856578
Passy           161.144635
Louvre          175.379972
Elysee          210.536765

In [64]:
df_accommodates = df.query('neighbourhood == "Elysee"').groupby("accommodates").agg({"price" : "mean", "neighbourhood":"count"}).sort_values("price")

In [65]:
df_accommodates.tail()

                price  neighbourhood
accommodates
12            529.625              8
16            800.000              1
11            805.000              4
13            842.500              2
14            971.000              2